{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/register.css' %}" rel="stylesheet"/> 
    <link href="{% static 'login/css/verify.css' %}" rel="stylesheet"/> 
    <link href="{% static 'login/image/favicon.ico' %}" rel="shortcut icon"/>
    <title>LZLSite | 注册</title>
</head>

{% if message %}
<div class="alert alert-warning alert-dismissible fade show" style="width:1000px;padding-left: 50px;margin:0 auto">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ message }}</strong>
</div>
{% endif %}

<body>
    <div class="container">
        <div class="register-group">
            <form class="form-register" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                
                <!-- 网站 logo 图片 -->
                <div class="logo-image"></div>

                <!-- 滑块拖动验证 -->
                <div class="captcha-group">
                    <div id="mpanel1"></div>
                </div>

                <!-- 邮箱 -->
                <div class="email-group"> 
                    <input type="text" name="email" class="email-input" id="email-input" placeholder="请输入邮件">
                </div>

                <!-- 用户名 -->
                <div class="username-group">
                    <input type="text" name="username" class="username-input" id="username-input" placeholder="请输入用户名">
                </div>

                <!-- 密码 -->
                <div class="password-group">
                    <input type="password" name="password" class="password-input" id="password-input" placeholder="请输入密码">
                </div>

                <!-- 再次输入密码 -->
                <div class="password-again-group">
                    <input type="password" name="password_again" class="password-again-input" id="password-again-input" placeholder="请再次输入密码">
                </div>

                <!-- 提交按钮 -->
                <div class="submit-button-container">
                    <button type="submit" class="submit-button" id="submit-button" disabled="disabled">前往邮箱验证</button>
                </div>

                <!-- 登录链接 -->
                <div class="login-href">
                    <p class="login-font-before">已有账号？</p>
                    <a href="{% url 'login' %}" class="login-font">点击登录</a>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'login/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'login/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'login/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'login/js/verify/verify.js' %}"></script>
    <script type="text/javascript" src="{% static 'login/js/show_verify.js' %}"></script>

</body>
</html>