@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

/*

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}

*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a.logo  {
    color: #fff;
    font-size: 40px;
    margin-right: 60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.header-container {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-area {
    width: 100%;
    background: #39b54a;
}

.navbar-area {
    background: #39b54a;
    height: 112px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

i {
    color: #fff;
    display: inline-block;
}

a.contactlink {
    color: #fff;
    font-size: 17px;
    display:inline-block;
    font-family: 'Poppins';
    text-decoration: none;
    margin-right: 150px;
    margin-left: 10px;
}

.site-navbar ul li a {
    color: #fff;
    font-size: 17px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navbar ul li {
    padding-right: 50px;
}

.site-navbar ul li:last-child {
    padding-right: 0;
}

.site-navbar ul li a:hover {
    color: #141313;
}
.site-navbar ul li a.active {
    color: #141313;
}

.text_align_right {
    text-align: right;
}

ul.email {
    text-align: right;
}

ul.email li {padding-right: 65px; display: inline-block;}
ul.email li:last-child {padding-right: 0px;}
ul.email li a {
    color: #ffff; 
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}

ul.email li a i {
    color: #ffff;
    font-size: 19px;
    padding-right: 10px;
}

img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 50px;
    float: right;
}

a.login_button {
    /*border: 1px solid white;*/
    background-color: #1680e4;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.login_button:hover{
    outline: 0;
    background-color:  #bce1ff;
    color: black;
}

.full_bg {
    background: #fff;
    padding:0 45px 45px 45px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.10);
    margin: 0 50px;
    margin-top: 80px;
    margin-bottom: 52px;
    margin-left: 300px;
    margin-right: 300px;
}

.blog-area {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

p.title {
    font-family: 'MicroSoft Yahei';
    font-size: 35px;
    color: black;
    font-weight: 700;
    line-height: 2.2;
    letter-spacing: 1.5;
}

p.author {
    font-family: 'MicroSoft Yahei';
    font-size: 16px;
    color: black;
    display: inline;
    margin-right: 80px;
}

p.time {
    font-family: 'MicroSoft Yahei';
    font-size: 16px;
    color: black;
    display: inline;  
    margin-right: 80px;
}

p.seen {
    font-family:'MicroSoft Yahei';
    font-size: 16px;
    color: black;
    display: inline;
    margin-right: 80px;
}

p.comment_num {
    font-family:'MicroSoft Yahei';
    font-size: 16px;
    color: black;
    display: inline;
    margin-right: 80px;
}  

p.love {
    font-family:'MicroSoft Yahei';
    font-size: 16px;
    color: black;
    display: inline;
}

p.love-y {
    font-family:'MicroSoft Yahei';
    font-size: 16px;
    color: rgb(252, 85, 49);
    display: inline;
}

.fa-love .fa-thumbs-up {
    margin-right: 10px;
}

button.show-love {
    background-color: white;
    border: 0;
}

button.show-love:active, button.show-love:focus {
    outline: 0;
}

p.category {
    font-family: 'MicroSoft Yahei';
    font-size: 16px;
    color: black;
    display: inline; 
    line-height: 7;  
}

p.single_category {
    font-family: 'MicroSoft Yahei';
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    border-radius: 5px;
    display: inline;
}

.fa-tag {
    margin-left: 80px;
}

p.tag {
    font-family: 'MicroSoft Yahei';
    font-size: 16px;
    color: black;
    display: inline;  
}

p.single_tag {
    font-family: 'MicroSoft Yahei';
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    border-radius: 5px;
    display: inline;
    margin-right: 10px;
}

.blog-content {
    font-family: "Microsoft Yahei";
    font-size: 18px;
    color: black;
    line-height: 2;
}

hr.content-line {
    margin-top: -20px;
    margin-bottom: 50px;
}

hr.comment-line {
    margin-top: 50px;
    margin-bottom: 30px;
}

.comments-space {
    margin-bottom: 80px;
    padding-bottom: 40px;
    overflow: hidden;
}

.write-comments {
    margin-left: 45px;
    margin-right: 45px;
}

p.addcomment-text {
    font-size: 18px;
    color: black;
}

.button-wrapper {
    margin-top: 20px;
}

button.reset-comment-button {
    width: 70px;
    height: 40px;
    border: 1px solid rgb(71, 70, 70);
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: rgb(71, 70, 70);
}

button.reset-comment-button:hover, button.reset-comment-button:active {
    background-color: rgb(56, 56, 56);
    outline: 0;
}

button.save-comment-button {
    width: 70px;
    height: 40px;
    border: 1px solid rgb(0, 146, 0);
    border-radius: 5px;
    font-size: 17px;
    color: white;
    background-color: rgb(0, 146, 0);
    float: right;
}

.user-comment-container {
    display: inline-block;
    width: 900px;
    word-wrap: break-word;
    border-left: 1px dashed rgb(0,184,210);
    border-bottom: 1px dashed lightgrey;
    margin-top: 40px;
}

.user-comment-container-last {
    display: inline-block;
    width: 900px;
    border-left: 1px dashed rgb(0,184,210);
    border-bottom: 1px dashed lightgrey;
    margin-top: 40px;
    margin-bottom: 40px;
}

.user-comment {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;
    font-size: 18px;
    color: black;
    word-wrap: break-word;
}

em.re-comment {
    display: block;
    padding-right: 30px;
    margin-bottom: -50px;
    line-height: 40px;
    font-size: 18px;
    word-wrap: break-word;
    color: rgb(92, 92, 92);
}

p.user-comment-detail {
    display: block;
    padding-left: 30px;
    color: rgb(92, 92, 92);
    padding-bottom: 10px;
}

button.save-comment-button:hover, button.save-comment-button:active {
    background-color: rgb(0, 122, 0);
    outline: 0;
}

hr.write-comment-line {
    margin-top: 30px;
}

img.comment-avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 10px;
    box-shadow: 2px 2px 4px 2px grey;
}

.comments-space blockquote {
    border-left: 2px solid grey;
    margin-left: 1.5rem;
    padding-left: 1rem
}

