{% load static %}
{% load extratag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/image/favicon.ico' %}" rel="shortcut icon"/>
    <link href="{% static 'blog/css/reply_comment.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}" />
    <title>LZLSite | 评论回复</title>
</head>

<body class="main-layout">
    <!-- 
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'blog/image/loading.gif' %}" alt="#"/></div>
    </div>
    -->

    <header class="header-area">
        <div class="header-container">
            <div class="row d_flex">
                <div class="col-md-12 col-sm-12">
                    <div class="navbar-area">
                        <nav class="site-navbar">
                            <a class="logo" href="{% url 'index' %}"> LZLSITE </a>
                            <i class="fa fa-envelope" aria-hidden="true"><a class="contactlink" href="https://mail.163.com/">lzl20220405@163.com</a></i>
                            
                            <ul>
                                <li><a href="{% url 'index' %}">主页</a></li>
                                <li><a href="{% url 'about' %}">关于作者</a></li>
                                <li><a class="active" href="{% url 'list' 1 %}">博客</a></li>
                                <li><a href="{% url 'works' 1 %}">其他作品</a></li>
                             </ul>
                        </nav>
                        <ul class="email text_align_right">
                            {% if login %}
                                <a href={% url 'user_index' username %} target="_blank"><img class="avatar" src="{{ user.avatar.url }}"></img></a>
                            {% else %}
                                <li><a class="login_button" href="{% url 'login' %}" target="_blank">登录</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="full_bg">
        <div class="comment-space">
            <a href={% url 'user_index' username %} target="_blank"><img class="comment-avatar" src="{{ comment.user.avatar.url }}"></img></a>
            <div class="user-comment-container">
                {% if not comment.parent_comment %}
                    <div class="user-comment">{{ comment.text|safe }}</div>
                    <p class="user-comment-detail">By&nbsp;&nbsp;{{ comment.user.name }}&nbsp;&nbsp;&nbsp;On&nbsp;&nbsp;<em>{{ comment.c_time|date:'Y.m.d H:i' }}</em></p>
                {% else %}
                    <div class="user-comment"><em class="re-comment">@{{ comment.parent_comment.user }}: {{ comment.parent_comment.text|safe }}</em><br>{{ comment.text|safe }}</div>
                    <p class="user-comment-detail">{{ comment.user.name }}&nbsp;&nbsp;回复&nbsp;&nbsp;{{ comment.parent_comment.user.name }}&nbsp;&nbsp;&nbsp;On&nbsp;&nbsp;<em>{{ comment.c_time|date:'Y.m.d H:i' }}</em></p>
                {% endif %}
            </div>
        </div>
    
        <!-- 显示评论编辑框及按钮 -->
        <div class="write-comment">
            <p class="addcomment-text">回复评论：</p>
            <form action="{% url 'comment' blog.id comment.id %}" method="POST">
                {% csrf_token %}
                <textarea name="reply_comment" id="editor-wrapper"></textarea>
                <div class="button-wrapper">
                    <button type="reset" class="reset-comment-button">重置</button>
                    <button type="submit" class="save-comment-button">回复</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'login/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'login/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'login/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/tinymce/tinymce.min.js' %}"></script>

    <script type="text/javascript">
        window.onload = function(){
            window.history.replaceState(null,null,window.location.href);
        }

        tinymce.init({
            selector: '#editor-wrapper',
            plugins: 'lists, advlist, autolink, autosave, charmap, emoticons, link, searchreplace',
            toolbar: 'undo redo restoredraft searchreplace| newdocument | cut copy paste | lineheight hr | bold italic underline strikethrough subscript superscript forecolor backcolor blockquote | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect removeformat | outdent indent | bullist numlist | link | charmap emoticons',
            auto_focus: true,
            branding: false,
            elementpath: false,
            promotion: false,
            height: 400,
            placeholder: '说点什么吧……',
            language: "zh-Hans",
            {% if message %}
            init_instance_callback: function(editor){
                editor.notificationManager.open({
                    text: '{{ message }}',
                    type: 'error',
                })
            }
            {% endif %}
        });
    </script>
</body>

</html>